#repo-tools-spot-edit form table{
    width: 100%;
    color: white;
}

#repo-tools-spot-edit form th{
    text-align: right;
    width: 20%;
    vertical-align: top;
    color: white;
}

#repo-tools-spot-edit .repo-text-field,
#repo-tools-spot-edit textarea{
    width: 80%;
}

.spot-edit-raw{
    overflow-x: scroll;
    background-color: white;
    color: black;
}