html, body{
    font-family: arial, helvetica, clean, sans-serif;
    margin: 0px;
    position: relative;
    width: 100%;
}

#repo-page-wrap{
    position: relative;
    width: 100%;
}

#repo-page-content{
    position: relative;
    margin-right: 360px;
    padding: 10px;
    height: 100%;
}

#repo-page-sidebar{
    position: absolute;
    padding: 10px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    background-color: #dddddd;
}

#repo-pager{
    padding: 20px;
    text-align: center;
   
}

#repo-pager .repo-current-page{
 font-weight: bold;
}

.repo-search-result{
    border-bottom: solid gray 1px;
}

.repo-search-result h3{
    margin: 0px;
}

.repo-search-result-top{
    padding: 0.5em;
    min-height: 100px;
}
.repo-search-result-top:hover{
    background-color: #eeeeee;
    cursor: pointer; cursor: hand;
}

/* Thumbnail on image results top */
.repo-search-result-top .repo-image-placeholder{
    float: left;
    height: 101px;
    width: 101px;
    text-align: center;
    vertical-align: middle;
    margin-right: 1em;
}

.repo-search-result-bottom h3{
    color: black;
    background: #eeeeee;
    margin-top: 1em;
    padding: 0.3em;
}

/* Thumbnail on image results list */
.repo-item-list{
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

.repo-item-list li{
    min-height: 60px;
    padding-top: 1em;
    border-bottom: 1px solid gray;

}

.repo-item-list li:hover{
    background-color: #eeeeee;
    cursor: pointer; cursor: hand;
}


.repo-item-list .repo-image-placeholder{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 1em;
    padding
}

.repo-search-result-bottom pre{
    display: none;
}
.repo-search-result-bottom-footer{
    text-align: right;
}

.repo-search-result-bottom-footer a{
    text-decoration: none;
}

/* slideshow of images in place */
.repo-image-wrapper{
    position: relative;
    background-color: #eeeeee;
}

.repo-image-wrapper img{
    position: absolute;
    display: none;
    top:0px;
    left:0px;
}

.repo-image-wrapper img svg{
    
}

.repo-large-image{
    border: solid #eeeeee 1px;
}


.repo-search-result-bottom{
    display: none;
    border-top: dashed gray 1px;
    padding: 0.5em;
    overflow: auto;
}

.repo-search-result-bottom-right-col{
    float: right;
    text-align: center;
}

.repo-facetting-link{
    cursor: context-menu; cursor: hand;
}

.repo-searching-link{
    cursor: zoom-in;
}

.repo-field-list{
    margin-top: 0.6em;
    padding-left: 0px;
    line-height: 150%;
}
.repo-field-list li{
    display: inline;
    list-style-type: none;
    padding-right: 0.5em;
}

.repo-field-list li strong{
    color: gray;
}

.repo-content-field{
    margin-top: 0.6em;
}

#repo-input-q{
    width: 60em;
    height: 1.5em;
    font-size: 100%;
}

#repo-input-submit{
    border: solid gray 1px;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.repo-doc-page{
    padding-left:3em;
    padding-right:3em;
    padding-top:1em;
    padding-bottom:1em;
}

.repo-sharing-button{
    margin-left: 0.5em;
}
