html, body{
    font-family: arial, helvetica, clean, sans-serif;
    margin: 0px;
    position: relative;
    width: 100%;
}

#repo-page-wrap{
    position: relative;
    width: 100%;
}

#repo-page-content{
    position: relative;
    margin-right: 305px;
    padding: 1em;
    height: 100%;
}

#repo-page-sidebar{
    position: absolute;
    padding: 1em;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: #dddddd;
}


.repo-search-result{
    border-bottom: solid gray 1px;
    
}