html, body{
    font-family: arial, helvetica, clean, sans-serif;
    margin: 0px;
    position: relative;
    width: 100%;
}

#repo-page-wrap{
    position: relative;
    width: 100%;
}

#repo-page-content{
    position: relative;
    margin-right: 360px;
    padding: 10px;
    height: 100%;
}

#repo-page-sidebar{
    position: absolute;
    padding: 10px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    background-color: #dddddd;
}

#repo-pager{
    padding: 20px;
    text-align: center;
   
}

#repo-pager .repo-current-page{
 font-weight: bold;
}

.repo-search-result{
    border-bottom: solid gray 1px;
}

.repo-search-result h3{
    margin: 0px;
}

/*
.repo-search-result.repo-odd{
    background-color: #eeeeee;
}
*/

.repo-search-result-top{
    padding: 0.5em;
    min-height: 50px;
}
.repo-search-result-top:hover{
    background-color: #eeeeee;
    cursor: pointer; cursor: hand;
}
.repo-search-result-top .thumbnail{
    float: left;
    height: 41px;
    width: 41px;
    text-align: center;
    vertical-align: middle;
    margin-right: 1em;
}

.repo-search-result-bottom{
    display: none;
    border-top: dashed gray 1px;
    padding: 0.5em;
}

.repo-search-result-bottom .large-image{
    float: right;
    border: solid 1px gray;
}

.repo-facetting-link{
    cursor: context-menu; cursor: hand;
}

.repo-searching-link{
    cursor: zoom-in;
}

.repo-taxon-fields h4,
.repo-geography-fields h4{
    display: inline-block;
    margin: 0px;
    margin-bottom: 0.5em;
    width: 100px;
    text-align: right;
    color: black;
    padding-right: 1em;
}
.repo-taxon-fields ul,
.repo-geography-fields ul{
    display: inline;
    /* border: solid 1px gray; */
    margin: 0px;
    padding-left: 0px;
}
.repo-taxon-fields ul li,
.repo-geography-fields ul li{
    display: inline;
    list-style-type: none;
    padding-right: 0.5em;
}
.repo-taxon-fields ul li strong,
.repo-geography-fields ul li strong{
    color: gray;
}
