RewriteEngine on
RewriteRule ^service$ srv.php [NC]

# e.g. http://repo.rbge.org.uk/service/item/xml/cat?id=E00137838
# RewriteRule ^service/item/([^/]*)/cat srv.php?srv_name=item&response_format=$1&id_kind=cat [QSA,NC]

# e.g. http://repo.rbge.org.uk/service/item/xml/guid?id=http://data.rbge.org.uk/herb/E00137838
# RewriteRule ^service/item/([^/]*)/guid srv.php?srv_name=item&response_format=$1&id_kind=guid [QSA,NC]

# e.g. http://repo.rbge.org.uk/service/item/xml/146653
# RewriteRule ^service/item/([^/]*)/([^/]*) srv.php?srv_name=item&response_format=$1&id=$2 [QSA,NC]

# e.g. http://repo.rbge.org.uk/service/item/xml/catalogue_number?val=E00137838
RewriteRule ^service/item/([^/]*)/([^/]*)/([^/]*) srv.php?srv_name=item&response_format=$1&field_name=$2&field_value=$3 [QSA,NC]

# Image service

# http://repo.rbge.org.uk/service/images/<cat_ids>?callback=<method_name>
RewriteRule ^service/images/([^/]*) srv.php?srv_name=images&ids=$1 [QSA,NC]

# Allow the image server to work with a jpg extension as colourbox uses this
RewriteRule ^image_server\.jpg image_server\.php [QSA,NC]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

