RewriteEngine on

# prevent access to most calls outside our network unless calling image_server or a service
RewriteCond "%{REMOTE_ADDR}" "!^192.168"
RewriteCond "%{REQUEST_URI}" "!^/image_server"
RewriteCond "%{REQUEST_URI}" "!^/service"
RewriteCond "%{REQUEST_URI}" "!^/srv\.php"
RewriteRule .* "-" [F]

RewriteRule ^service$ srv.php [NC]

# sharing links
RewriteRule ^service/download/([^/]*) srv.php?srv_name=sharing&key=$1 [QSA,NC]

# e.g. http://repo.rbge.org.uk/service/item/xml/catalogue_number?val=E00137838
RewriteRule ^service/item/([^/]*)/([^/]*)/([^/]*) srv.php?srv_name=item&response_format=$1&field_name=$2&field_value=$3 [QSA,NC]

# Image service

# http://repo.rbge.org.uk/service/images/<cat_ids>?callback=<method_name>
RewriteRule ^service/images/([^/]*) srv.php?srv_name=images&ids=$1 [QSA,NC]

# Allow the image server to handle base64 path encoding
RewriteRule ^image_server_base64/([^/]*)/([^/]*)/([^/]*) image_server\.php?path_base64=$1&kind=$2-$3 [QSA,NC]
RewriteRule ^image_server_base64/([^/]*)/([^/]*) image_server\.php?path_base64=$1&kind=$2 [QSA,NC]
RewriteRule ^image_server_base64/([^/]*) image_server\.php?path_base64=$1 [QSA,NC]

# Allow the image server to work with a jpg extension as colourbox uses this
RewriteRule ^image_server\.jpg image_server\.php [QSA,NC]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

